body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
    color: aqua;
}
#mySubmit{
    font-size: .5em;
    padding: 5px 25px;
     border-radius: 5px;
     color: aqua;
     background-color: black;
}