body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #557174;
}
h1{
    color: aqua;
}
form{
    background-color: #ffffff;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00ffff73;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid #557174;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: #557174;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #55717475;
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}